<h2> Favorites Index </h2>
  <% @favorites.each do |fav| %>
    <div class="row">
      <div class="small-10 small-offset-2 columns">
        <h3><%= fav.post.title %></h3>
        <h4><%= fav.post.description %></h4>

        <td><%= link_to "Remove from Favorites", fav, method: :delete, data: {confirm: 'Are you sure?'} %></td>

      </div>
    </div>
  <% end %>





