<h4 class="model-title"> Topics <%= link_to "New Topic", new_topic_path %></h4>

<div class="row">
<% @topics.each do |topic| %>
     <div class="small-4 columns">
     <%= link_to topic.title, topic_path(topic) %>
      </div>
      <div class="small-4 columns">
       <%= topic.posts.count %>
      </div>
     <div class="small-4 columns">
      <%= crud_links(topic) %>
     </div>

<% end %>
</div>



